{% extends 'pages/base.html' %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    {% block content %}
    <br>
    <small class="text-muted" style="padding: 30px;"> 
        <a href="{% url 'course_details' lesson_dt.course.title|slugify %}" class="btn btn-primary">Retourn</a>
    </small> 
    <br>
    <div class="container">
        <h3 class="text-center">
            {{ lesson_dt.course }}
        </h3>

        <br>
        <div class="card border-secondary">
            <div class="card-header" style="font: bold; font-size: large;">
                Lesson: {{ lesson_dt.title }}
            </div>
            <div class="card-body">
                <!-- <h5 class="card-title">
                    {{ lesson_dt.title }}
                </h5> -->
                <div class="embed-responsive embed-responsive-16by9">
                    <video class="embed-responsive-item" controls>
                        <source src="{% static 'video'%}{{ lesson_dt.video.url }}" type="video/mp4" />
                        Your browser does not support the video tag.
                    </video>
                </div>
                <p class="card-text"> 
                    <small class="text-muted"> 
                        {{ lesson_dt.create_at }}
                    </small> 
                </p> 
                
                <p class="card-text">
                    {{ lesson_dt.content }}
                </p>
            </div>
        </div>
        <br>
    </div>
    
    {% endblock %}
</body>
</html>
