{% extends 'pages/base.html' %}
{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center mb-4">Register</h2>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" name="first_name" class="form-control" placeholder="Firsst Name ..." required>
                </div>
                <div class="form-group">
                    <input type="text" name="last_name" class="form-control" placeholder="Last Name ..." required>
                </div>
                <div class="form-group">
                    <input type="text" name="username" class="form-control" placeholder="Username" required autofocus>
                </div>
                <div class="form-group">
                    <input type="email" name="email" class="form-control" placeholder="Email" required>
                </div>
                <div class="form-group">
                    {{ form.image }}
                </div>
                <div class="form-group">
                    <input type="password" name="password1" class="form-control" placeholder="Password" required>
                </div>
                <div class="form-group">
                    <input type="password" name="password2" class="form-control" placeholder="Confirm Password" required>
                </div>

                <div class="form-group">
                    <label for="role">Role:</label>
                    <select name="role" class="form-control" id="role" required>
                        <option value="learner">Learner</option>
                        <option value="instructor">Instructor</option>
                    </select>
                </div>
                
                <button type="submit" class="btn btn-primary btn-block">Register</button>
            </form>
        </div>
    </div>
</div>

{% include 'pages/footer.html' %}

{% endblock content %}
